.contact {
  text-align: center;
  background-color: $btn-background;
  color: white;
  padding: 30px 30px 40px 30px;
  @media (min-width: $tablet) {
    padding: 30px 60px 40px 60px;
  }
  &__joined {
    letter-spacing: 4px;
    font-size: 12px;
    text-transform: uppercase;
  }
  &__title {
    font-size: 25px;
    font-weight: 400;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 10px;
    max-width: 800px;
  }

  &__button {
    background-color: rgb(214, 62, 16);
    border: none;
    padding: 30px 10px;
    height: 40px;
    line-height: 0;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 200px;
      &:hover {
        background-color: #fff;
        color: rgb(214, 62, 16);

        transition: 0.2s all ease-in-out;
      }
    }
  }
  &__input {
    display: block;
    box-sizing: border-box;
    height: 40px;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    border: none;
  }
  &__label {
    margin-bottom: 20px;
    @media (min-width: 768px) {
      width: 500px;
    }
  }
}
