.browsers {
  margin-bottom: 150px;
  padding: 0 30px;
  @media (min-width: 1100px){
    display: flex;

    margin: 0 auto 150px auto;
    max-width: 850px;
  }

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  max-width: 320px;
  margin: 0 30px 100px 30px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgb(204, 196, 196);
  margin: 0 auto 100px;

  @media (min-width: 1100px){
    margin-bottom: 0;

    &--second {
      margin-top: 30px;
    }
    &--third {
      margin-top: 60px;
    }
  }



  &__dots {
    display: block;
    width: 100%;
    height: 5px;
    // background-color: black;
    background: url("/src/assets/icons/bg-dots.svg") center no-repeat;
    background-size: cover;
  }

  &__info {
    color: $description-color;
    margin: 0 0 30px;

  }

  &__link {
    text-decoration: none;
    color: white;
    background-color: $btn-background;
    height: 30px;
    width: 200px;
    padding: 15px 10px;
    border-radius: 10px;
    line-height: 30px;
    &:hover {
      background-color: #fff;
      color: $btn-background;
      border: 2px solid $btn-background;
      transition: .2s all ease-in-out;
    }


  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    color: $title-color;
    margin-bottom: 0;
  }
}

.download {
  text-align: center;
  @media (min-width: $tablet){
    padding: 0 60px;
  }

  &__description {
    padding: 0 20px;
    color: $description-color;
    margin-bottom: 50px;
    line-height: 25px;
    @media (min-width: $tablet) {
      max-width: 420px;
      margin: 0 auto 50px auto;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    padding: 0 20px;
    color: $title-color;
  }
}